body{
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Allerta', sans-serif;
}

.logoPrincipal{
  max-width: 200px;
  height: auto;
}

